html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  margin:auto;
  margin-top: 5%;
}

#next-page-link {
font-family: GreatVibes;
position:absolute;
margin-left: 70%;
margin-top: 5%;
color:rgb(255, 182, 99);
text-decoration: none;
}

#next-page-link:hover {
  color:rgb(255, 255, 255);
  scale:110%;
}

